body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	line-height: 1.3;
	font-size: 0.875rem;
	width: auto;
	max-height: auto;
	word-wrap: break-word;
}
#result {
	padding: 6px 6px 6px 6px;
}
#main-content {
	max-height: calc(100vh - 71px);
}